{% extends 'layout/app.html' %} {% load static %} {% block body %}
<div class="container-fluid px-4">
  <h1 class="mt-4">Customers</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active">Customers</li>
  </ol>

  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Customers
        <a class="btn-sm btn btn-success" href="{% static 'sample_contact.csv' %}" download style="float: right"><span class="fa fa-download"></span> &nbsp;Download Sample CSV</a>
        <a id="selectCustomerDownloadButton" class="btn-sm btn btn-success" style="float: right; margin-right: 10px;">
          <span class="fa fa-download" ></span> 
            &nbsp;Download Select CSV
        </a>
    </div>
    <div class="card-body">
      <form class="form-horizontal mb-3" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="d-flex align-items-sm-start align-items-stretch  flex-column flex-sm-row gap-2">
              <div class="flex-grow-1">
                  <div class="input-group">
                      <input type="file" class="form-control custom-file-input file" name="csv_file">
                  </div>
              </div>
              <div class="d-flex">
                  <button class="btn btn-primary btn-block" type="submit">Submit</button>
                  <a class="btn btn-info ms-2" href="sync_method/"><span class="fa fa-cloud-arrow-down"></span> Sync from Method</a>
                  <a class="btn btn-success ms-2" href="add/"><span class="fa fa-add"></span> Add</a>
              </div>
          </div>
      </form>
      <hr>
      <div class="d-flex mb-3">
          <form class="form-inline ms-auto w-100">
            <div class="input-group">
                <input class="form-control" type="text" name="search" value="{{ search }}" placeholder="Search for customer..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-secondary" type="submit"><i class="fas fa-search"></i></button>
            </div>
          </form>
      </div>
      {% for message in messages %}
      <div
        class="alert alert-{{ message.tags }} alert-dismissible"
        role="alert"
      >
        {{ message }}
      </div>
      {% endfor %}
      <div class="table-container">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th scope="col">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="fullCheckAction" onclick="fullCheck()"/>
                </div>
              </th>
              <th>Action</th>
              <th>Full Name</th>
              <th>phone</th>
              <th>Fax</th>
              <th>Mobile</th>
              <th>Email</th>
              <th>Billing Address</th>
              <th>Billing City</th>
              <th>Billing State</th>
              <th>Billing Zipcode</th>
              <th>Billing Country</th>
              <th>E911 Address</th>
              <th>E911 City</th>
              <th>E911 State</th>
              <th>E911 Zipcode</th>
              <th>E911 Country</th>
            </tr>
          </thead>
          <tbody>
            {% for customer in customers %}
            <tr class="table-row" id="tr_{{customer.id}}">
              <th scope="row">
                <div class="form-check">
                  <input class="form-check-input item" type="checkbox" value="" id="select_{{customer.id}}"/>
                </div>
              </th>
              <td style="display: flex; justify-content: space-between;">
                {% if customer.is_active %}
                  <a class="btn btn-sm btn-warning" href="edit/{{ customer.id }}"><span class="fa fa-edit"></span> Edit</a>
                  <a class="btn btn-sm btn-danger" href="delete/{{ customer.id }}"><span class="fa fa-trash"></span> Delete</a>
                {% endif %}
              </td>
              <td>{{ customer.full_name }}</td>
              <td>{{ customer.phone }}</td>
              <td>{{ customer.fax }}</td>
              <td>{{ customer.mobile }}</td>
              <td>{{ customer.email }}</td>
              <td>{{ customer.billing_address }}</td>
              <td>{{ customer.billing_city }}</td>
              <td>{{ customer.billing_state }}</td>
              <td>{{ customer.billing_zipcode }}</td>
              <td>{{ customer.billing_country }}</td>
              <td>{{ customer.e911_address }}</td>
              <td>{{ customer.e911_city }}</td>
              <td>{{ customer.e911_state }}</td>
              <td>{{ customer.e911_zipcode }}</td>
              <td>{{ customer.e911_country }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="d-flex flex-row justify-content-end gap-3">
        <form method="get">
          <input type="hidden" name="search" value="{{ request.GET.search }}">
          <select class="form-select form-select" name="size" aria-label=".form-select-sm example" onchange="this.form.submit()">
            <option value="10" {% if request.GET.size == "10" %}selected{% endif %}>10</option>
            <option value="25" {% if request.GET.size == "25" %}selected{% endif %}>25</option>
            <option value="50" {% if request.GET.size == "50" %}selected{% endif %}>50</option>
          </select>
        </form>
        <nav aria-label="...">
          <ul class="pagination">
            {% if not customers.has_previous %}
              <li class="page-item disabled"><a class="page-link" href="#"> << </a></li>
              <li class="page-item disabled"><a class="page-link" href="#"> < </a></li>
            {% else %}
              {% if not request.GET.search %}
                <li class="page-item">
                  <a class="page-link" {% if request.GET.size %}href="?size={{ request.GET.size }}&page=1"{% else %}href="?page=1"{% endif %}> << </a>
                </li>
                <li class="page-item">
                  <a class="page-link" {% if request.GET.size %}href="?size={{ request.GET.size }}&page={{ customers.previous_page_number }}"{% else %}href="?page={{ customers.previous_page_number }}"{% endif %}> < </a>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" {% if request.GET.size %}href="?search={{request.GET.search}}&size={{ request.GET.size }}&page=1"{% else %}href="?search={{request.GET.search}}&page=1"{% endif %}> << </a>
                </li>
                <li class="page-item">
                  <a class="page-link" {% if request.GET.size %}href="?search={{request.GET.search}}size={{ request.GET.size }}&page={{ customers.previous_page_number }}"{% else %}href="?search={{request.GET.search}}&page={{ customers.previous_page_number }}"{% endif %}> < </a>
                </li>
              {% endif %}
            {% endif %}
            <li class="page-item">
              <span class="page-link">{{ customers.number }} / {{ customers.paginator.num_pages }}</span>
            </li>
            {% if not customers.has_next %}
              <li class="page-item disabled"><a class="page-link" href="#"> > </a></li>
              <li class="page-item disabled"><a class="page-link" href="#"> >> </a></li>
            {% else %}
              {% if request.GET.search %}
              <a class="page-link" {% if request.GET.size %}href="?search={{request.GET.search}}&size={{ request.GET.size }}&page={{ customers.next_page_number }}"{% else %}href="?search={{request.GET.search}}&page={{ customers.next_page_number }}"{% endif %}> > </a>
                </li>
                <li class="page-item">
                  <a class="page-link" {% if request.GET.size %}href="?search={{request.GET.search}}&size={{ request.GET.size }}&page={{ customers.paginator.num_pages }}"{% else %}href="?search={{request.GET.search}}&page={{ customers.paginator.num_pages }}"{% endif %}> >> </a>
                </li>
              {% else %}
              <li class="page-item">
                  <a class="page-link" {% if request.GET.size %}href="?size={{ request.GET.size }}&page={{ customers.next_page_number }}"{% else %}href="?page={{ customers.next_page_number }}"{% endif %}> > </a>
                </li>
                <li class="page-item">
                  <a class="page-link" {% if request.GET.size %}href="?size={{ request.GET.size }}&page={{ customers.paginator.num_pages }}"{% else %}href="?page={{ customers.paginator.num_pages }}"{% endif %}> >> </a>
                </li>
              {% endif %}
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block javascript %} {% endblock %}