{% extends 'layout/app.html' %}

{% load static %}
{% block stylesheet %}
    <style>
        .bd-example {
            /* padding: 1.5rem; */
            margin-right: 0;
            margin-left: 0;
            border-width: 1px;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
        }
        .bd-example {
            position: relative;
            padding: 1rem;
            margin: 1rem -.75rem 0;
            border: solid #dee2e6;
            border-width: 1px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">DID CRUD</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">Create DID</li>
        </ol>
        <div class="bd-example">
            <form action="/did/add/" method="POST">
                {% csrf_token %}
                
                <div class="row mb-3">
                    <div class="col">
                        <select name="customer" class="form-select p-3" aria-label="Choose Customer">
                            <option value="" selected>Select customer</option>
                            {% for customer in customers %}
                            <option value="{{ customer.id }}">{{ customer.full_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <select name="reseller" class="form-select p-3" aria-label="Choose reseller">
                            <option value="" selected>Select reseller</option>
                            {% for customer in customers %}
                            <option value="{{ customer.id }}">{{ customer.full_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="did" type="number" placeholder="DID" id="did" required>
                            <label for="did">Enter your DID</label>
                        </div>
                    </div>
                    <div class="col">
                        <select name="in_method" class="form-select p-3" aria-label="Choose in method">
                            <option value="" selected>Select in method</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <select name="status" class="form-select p-3" aria-label="Choose status">
                            <option value="" selected>Select status</option>
                            <option value="Active">Active</option>
                            <option value="Dixco">Dixco</option>
                        </select>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="change_date" type="date" placeholder="Change Date" id="change_date">
                            <label for="change_date">Change Date</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <select name="voice_carrier" class="form-select p-3" aria-label="Choose voice carrier">
                            <option value="" selected>Select voice carrier</option>
                            <option value="INTQ - Wholesale">INTQ - Wholesale</option>
                            <option value="INTQ - OC">INTQ - OC</option>
                            <option value="Twilio">Twilio</option>
                        </select>
                    </div>
                    <div class="col">
                        <select name="type" class="form-select p-3" aria-label="Choose type">
                            <option value="" selected>Select service type</option>
                            <option value="Fusion">Fusion</option>
                            <option value="Teams">Teams</option>
                            <option value="Hosted SMS">Hosted SMS</option>
                            <option value="Parked">Parked</option>
                            <option value="Inventory">Inventory</option>
                            <option value="Efax">Efax</option>
                            <option value="Orphaned">Orphaned</option>
                            <option value="Comelit">Comelit</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <select name="sms_enabled" class="form-select p-3" aria-label="Choose sms enable">
                            <option value="" selected>Select SMS activation</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                    <div class="col">
                        <select name="sms_carrier" class="form-select p-3" aria-label="Choose sms carrier">
                            <option value="" selected>Select SMS carrier</option>
                            <option value="INTQ">INTQ</option>
                            <option value="Twilio">Twilio</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <select name="sms_type" class="form-select p-3" aria-label="Choose sms type">
                            <option value="" selected>Select SMS type</option>
                            <option value="Yak Personal">Yak Personal</option>
                            <option value="Yak Shared">Yak Shared</option>
                            <option value="Yak Personal and Shared">Yak Personal and Shared</option>
                            <option value="INTQ API">INTQ API</option>
                            <option value="Clerk">Clerk</option>
                            <option value="SIP/Simple">SIP/Simple</option>
                        </select>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input class="form-control" name="sms_campaign" type="text" placeholder="sms_campaign" id="sms_campaign">
                            <label for="sms_campaign">Enter SMS campagin</label>
                        </div>
                    </div>
                    <div class="col">
                        <select name="term_location" class="form-select p-3" aria-label="Choose term location">
                            <option value="" selected>Select term location</option>
                            <option value="SBC - East">SBC - East</option>
                            <option value="SBC - West">SBC - West</option>
                            <option value="Hosted - East">Hosted - East</option>
                            <option value="Hosted - West">Hosted - West</option>
                            <option value="OP - Operator Connect">OP - Operator Connect</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="user_first_name" type="text"  placeholder="user_first_name" id="user_first_name">
                            <label for="user_first_name">Enter first name</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="user_last_name" type="text"  placeholder="user_last_name" id="user_last_name">
                            <label for="user_last_name">Enter last name</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="extension" type="number"  placeholder="extension" id="extension">
                            <label for="extension">Enter extension</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="email" type="email"  placeholder="email" id="email">
                            <label for="email">Enter email</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="onboard_date" type="date"  placeholder="onboard_date" id="onboard_date">
                            <label for="onboard_date">Enter onboard date</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="note" type="text"  placeholder="note" id="note">
                            <label for="note">Enter note</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-3">
                        <select name="e911_enabled_billed" class="form-select p-3" aria-label="Choose e911 enable and billed">
                            <option value="" selected>Select E911 enable and billed</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="e911_cid" type="number"  placeholder="e911_cid" id="e911_cid">
                            <label for="e911_cid">Enter E911 cid</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="e911_address" type="text"  placeholder="e911_address" id="e911_address">
                            <label for="e911_address">Enter E911 Address</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="service_1" type="text"  placeholder="service_1" id="service_1">
                            <label for="service_1">Enter service_1</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="service_2" type="text"  placeholder="service_2" id="service_2">
                            <label for="service_2">Enter service_2</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="service_3" type="text"  placeholder="service_3" id="service_3">
                            <label for="service_3">Enter service_3</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="service_4" type="text"  placeholder="service_4" id="service_4">
                            <label for="service_4">Enter service_4</label>
                        </div>
                    </div>
                </div>
                <div class="mt-4 mb-0">
                    <div class="d-grid"><button class="btn btn-primary btn-block" type="submit">Submit</button></div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascript %}
{% endblock %}