{% extends 'layout/app.html' %}

{% load static %}
{% block stylesheet %}
    <style>
        .bd-example {
            /* padding: 1.5rem; */
            margin-right: 0;
            margin-left: 0;
            border-width: 1px;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
        }
        .bd-example {
            position: relative;
            padding: 1rem;
            margin: 1rem -.75rem 0;
            border: solid #dee2e6;
            border-width: 1px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">DID CRUD</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">Edit DID</li>
        </ol>
        <div class="bd-example">
            <form action="/did/update/{{ did.id }}" method="POST">
                {% csrf_token %}
                
                <div class="row mb-3">
                    <div class="col">
                        <select name="customer" class="form-select p-3" aria-label="Choose Customer">
                            <option value="">Select customer</option>
                            {% for customer in customers %}
                            <option value="{{ customer.id }}" {% if did.customer == customer.id %}selected{% endif %}>{{ customer.full_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <select name="reseller" class="form-select p-3" aria-label="Choose reseller">
                            <option value="">Select reseller</option>
                            {% for customer in customers %}
                            <option value="{{ customer.id }}" {% if did.reseller == customer.id %}selected{% endif %}>{{ customer.full_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="did" type="number" value="{{ did.did }}" placeholder="DID" id="did" required>
                            <label for="did">Enter your DID</label>
                        </div>
                    </div>
                    <div class="col">
                        <select name="in_method" class="form-select p-3" aria-label="Choose in method">
                            <option value="">Select in method</option>
                            <option value="Yes" {% if did.in_method == "Yes" %}selected{% endif %}>Yes</option>
                            <option value="No" {% if did.in_method == "No" %}selected{% endif %}>No</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <select name="status" class="form-select p-3" aria-label="Choose status">
                            <option value="">Select status</option>
                            {% for item in status %}
                            <option value="{{ item.id }}" {% if did.status == item.id %}selected{% endif %}>{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="change_date" type="date" value="{{ did.change_date }}" placeholder="Change Date" id="change_date">
                            <label for="change_date">Change Date</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <select id="voice_carrier" name="voice_carrier" class="form-select p-3" aria-label="{{ did.voice_carrier }}">
                            <option value="">Select voice carrier</option>
                            {% for item in voice_carrier %}
                            <option value="{{ item.id }}" {% if did.voice_carrier == item.id %}selected{% endif %}>{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <select name="type" class="form-select p-3" aria-label="Choose type">
                            <option value="">Select service type</option>
                            {% for item in service_type %}
                            <option value="{{ item.id }}" {% if did.type == item.id %}selected{% endif %}>{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <select name="sms_enabled" class="form-select p-3" aria-label="Choose sms enable">
                            <option value="" selected>Select SMS activation</option>
                            <option value="Yes" {% if did.sms_enabled == "Yes" %}selected{% endif %}>Yes</option>
                            <option value="No" {% if did.sms_enabled == "No" %}selected{% endif %}>No</option>
                        </select>
                    </div>
                    <div class="col">
                        <select name="sms_carrier" class="form-select p-3" aria-label="Choose sms carrier">
                            <option value="">Select SMS carrier</option>
                            {% for item in sms_carrier %}
                            <option value="{{ item.id }}" {% if did.sms_carrier == item.id %}selected{% endif %}>{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <select name="sms_type" class="form-select p-3" aria-label="Choose sms type">
                            <option value="">Select SMS type</option>
                            {% for item in sms_type %}
                            <option value="{{ item.id }}" {% if did.sms_type == item.id %}selected{% endif %}>{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input class="form-control" name="sms_campaign" type="text" value="{{ did.sms_campaign }}" placeholder="sms_campaign" id="sms_campaign">
                            <label for="sms_campaign">Enter SMS campagin</label>
                        </div>
                    </div>
                    <div class="col">
                        <select name="term_location" class="form-select p-3" aria-label="Choose term location">
                            <option value="">Select term location</option>
                            {% for item in term_location %}
                            <option value="{{ item.id }}" {% if did.term_location == item.id %}selected{% endif %}>{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="user_first_name" type="text" value="{{ did.user_first_name }}" placeholder="user_first_name" id="user_first_name">
                            <label for="user_first_name">Enter first name</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="user_last_name" type="text" value="{{ did.user_last_name }}" placeholder="user_last_name" id="user_last_name">
                            <label for="user_last_name">Enter last name</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="extension" type="number" value="{{ did.extension }}" placeholder="extension" id="extension">
                            <label for="extension">Enter extension</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="email" type="email" value="{{ did.email }}" placeholder="email" id="email">
                            <label for="email">Enter email</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="onboard_date" type="date" value="{{ did.onboard_date }}" placeholder="onboard_date" id="onboard_date">
                            <label for="onboard_date">Enter onboard date</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="note" type="text" value="{{ did.note }}" placeholder="note" id="note">
                            <label for="note">Enter note</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-3">
                        <select name="e911_enabled_billed" class="form-select p-3" aria-label="Choose e911 enable and billed">
                            <option value="">Select E911 enable and billed</option>
                            <option value="Yes" {% if did.e911_enabled_billed == "Yes" %}selected{% endif %}>Yes</option>
                            <option value="No" {% if did.e911_enabled_billed == "No" %}selected{% endif %}>No</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="e911_cid" type="number" value="{{ did.e911_cid }}" placeholder="e911_cid" id="e911_cid">
                            <label for="e911_cid">Enter E911 cid</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="e911_address" type="text" value="{{ did.e911_address }}" placeholder="e911_address" id="e911_address">
                            <label for="e911_address">Enter E911 Address</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="service_1" type="text" value="{{ did.service_1 }}" placeholder="service_1" id="service_1">
                            <label for="service_1">Enter service_1</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="service_2" type="text" value="{{ did.service_2 }}" placeholder="service_2" id="service_2">
                            <label for="service_2">Enter service_2</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="service_3" type="text" value="{{ did.service_3 }}" placeholder="service_3" id="service_3">
                            <label for="service_3">Enter service_3</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="service_4" type="text" value="{{ did.service_4 }}" placeholder="service_4" id="service_4">
                            <label for="service_4">Enter service_4</label>
                        </div>
                    </div>
                </div>
                <div class="mt-4 mb-0">
                    <div class="d-grid"><button class="btn btn-primary btn-block" type="submit">Submit</button></div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascript %}
{% endblock %}