{% extends 'layout/app.html' %} {% load static %} {% block body %}
<div class="container-fluid px-4">
  <h1 class="mt-4">DID CRUD</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active">DID CRUD</li>
  </ol>

  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      DID CRUD
      <a class="btn-sm btn btn-success" href="{% static 'sample.csv' %}" download style="float: right"><span class="fa fa-download"></span> &nbsp;Download Sample CSV</a>
      <a id="selectDownloadButton" class="btn-sm btn btn-success" style="float: right; margin-right: 10px;">
        <span class="fa fa-download" ></span> 
        &nbsp;Download Select CSV
      </a>
      {% if error %}
      <a id="errorReportButton" class="btn-sm btn btn-danger" download style="float: right; margin-right: 10px;"><span class="fa fa-download"></span> &nbsp;Download Error Report CSV</a>
      {% endif %}
    </div>
    <div class="card-body">
      <form class="form-horizontal mb-3" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="d-flex align-items-sm-start align-items-stretch flex-column flex-sm-row gap-2">
            <div class="flex-grow-1">
              <div class="input-group">
                  <input type="file" class="form-control custom-file-input file" name="csv_file">
              </div>
          </div>
              <div class="d-flex">
                <button class="btn btn-primary btn-block" type="submit">Submit</button>
                <a class="btn btn-info ms-2" href="sync_method/"><span class="fa fa-sync"></span> Sync With Method</a>
                <a class="btn btn-success ms-2" href="add/"><span class="fa fa-add"></span> Add</a>
            </div>
          </div>
      </form>
      <hr>
      <div class="d-flex mb-3">
          <form class="form-inline ms-auto w-100">
            <div class="input-group">
                <input class="form-control" type="text" name="search" value="{{ search }}" placeholder="Search for did..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-secondary" type="submit"><i class="fas fa-search"></i></button>
            </div>
          </form>
      </div>
      {% for message in messages %}
      <div
        class="alert alert-{{ message.tags }} alert-dismissible"
        role="alert"
      >
        {{ message }}
      </div>
      {% endfor %}
      <div class="table-container">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th scope="col">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="fullCheckAction" onclick="fullCheck()"/>
                </div>
              </th>
              <th>DID</th>
              <th>Customer</th>
              <th>Reseller</th>
              <th>In Method</th>
              <th>Voice Carrier</th>
              <th>Status</th>
              <th>Change Date</th>
              <th>SMS Enabled</th>
              <th>SMS Carrier</th>
              <th>SMS Type</th>
              <th>SMS Campaign</th>
              <th>Term Location</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Extension</th>
              <th>Email</th>
              <th>Onboard Date</th>
              <th>Note</th>
              <th>E911 Enabled_Billed</th>
              <th>E911 CID</th>
              <th>E911 Address</th>
              <th>Service 1</th>
              <th>Service 2</th>
              <th>Service 3</th>
              <th>Service 4</th>
              <th>Update Date Time</th>
              <th>Update By</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for did in dids %}
            <tr class="table-row" id="tr_{{did.id}}">
              <th scope="row">
                <div class="form-check">
                  <input class="form-check-input item" type="checkbox" value="" id="select_{{did.id}}"/>
                </div>
              </th>
              <td>{{ did.did }}</td>
              <td>{{ did.customer.full_name }}</td>
              <td>{{ did.reseller }}</td>
              <td>{{ did.in_method }}</td>
              <td>{{ did.voice_carrier.name }}</td>
              <td>{{ did.status.name }}</td>
              <td>{{ did.change_date | date:"d-m-Y" }}</td>
              <td>{{ did.sms_enabled }}</td>
              <td>{{ did.sms_carrier.name }}</td>
              <td>{{ did.sms_type.name }}</td>
              <td>{{ did.sms_campaign }}</td>
              <td>{{ did.term_location.name }}</td>
              <td>{{ did.user_first_name }}</td>
              <td>{{ did.user_last_name }}</td>
              <td>{{ did.extension }}</td>
              <td>{{ did.email }}</td>
              <td>{{ did.onboard_date | date:"d-m-Y" }}</td>
              <td>{{ did.note }}</td>
              <td>{{ did.e911_enabled_billed }}</td>
              <td>{{ did.e911_cid }}</td>
              <td>{{ did.e911_address }}</td>
              <td>{{ did.service_1.name }}</td>
              <td>{{ did.service_2.name }}</td>
              <td>{{ did.service_3.name }}</td>
              <td>{{ did.service_4.name }}</td>
              <td>{{ did.updated_date_time | date:"d-m-Y" }}</td>
              <td>{{ did.updated_by }}</td>
              <td style="display: flex; justify-content: space-between;">
                <a class="btn btn-sm btn-warning" href="edit/{{ did.id }}"><span class="fa fa-edit"></span> Edit</a>
                <a class="btn btn-sm btn-danger" href="delete/{{ did.id }}"><span class="fa fa-trash"></span> Delete</a>
              </td>
            </tr>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="d-flex flex-row justify-content-end gap-3">
          <form method="get">
            <input type="hidden" name="search" value="{{ request.GET.search }}">
            <select class="form-select form-select" name="size" aria-label=".form-select-sm example" onchange="this.form.submit()">
              <option value="10" {% if request.GET.size == "10" %}selected{% endif %}>10</option>
              <option value="25" {% if request.GET.size == "25" %}selected{% endif %}>25</option>
              <option value="50" {% if request.GET.size == "50" %}selected{% endif %}>50</option>
            </select>
          </form>
          <nav aria-label="...">
            <ul class="pagination">
              {% if not dids.has_previous %}
                <li class="page-item disabled"><a class="page-link" href="#"> << </a></li>
                <li class="page-item disabled"><a class="page-link" href="#"> < </a></li>
              {% else %}
                {% if not request.GET.search %}
                  <li class="page-item">
                    <a class="page-link" {% if request.GET.size %}href="?size={{ request.GET.size }}&page=1"{% else %}href="?page=1"{% endif %}> << </a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" {% if request.GET.size %}href="?size={{ request.GET.size }}&page={{ dids.previous_page_number }}"{% else %}href="?page={{ dids.previous_page_number }}"{% endif %}> < </a>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a class="page-link" {% if request.GET.size %}href="?search={{request.GET.search}}&size={{ request.GET.size }}&page=1"{% else %}href="?search={{request.GET.search}}&page=1"{% endif %}> << </a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" {% if request.GET.size %}href="?search={{request.GET.search}}size={{ request.GET.size }}&page={{ dids.previous_page_number }}"{% else %}href="?search={{request.GET.search}}&page={{ dids.previous_page_number }}"{% endif %}> < </a>
                  </li>
                {% endif %}
              {% endif %}
              <li class="page-item">
                <span class="page-link">{{ dids.number }} / {{ dids.paginator.num_pages }}</span>
              </li>
              {% if not dids.has_next %}
                <li class="page-item disabled"><a class="page-link" href="#"> > </a></li>
                <li class="page-item disabled"><a class="page-link" href="#"> >> </a></li>
              {% else %}
                {% if request.GET.search %}
                <a class="page-link" {% if request.GET.size %}href="?search={{request.GET.search}}&size={{ request.GET.size }}&page={{ dids.next_page_number }}"{% else %}href="?search={{request.GET.search}}&page={{ dids.next_page_number }}"{% endif %}> > </a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" {% if request.GET.size %}href="?search={{request.GET.search}}&size={{ request.GET.size }}&page={{ dids.paginator.num_pages }}"{% else %}href="?search={{request.GET.search}}&page={{ dids.paginator.num_pages }}"{% endif %}> >> </a>
                  </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" {% if request.GET.size %}href="?size={{ request.GET.size }}&page={{ dids.next_page_number }}"{% else %}href="?page={{ dids.next_page_number }}"{% endif %}> > </a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" {% if request.GET.size %}href="?size={{ request.GET.size }}&page={{ dids.paginator.num_pages }}"{% else %}href="?page={{ dids.paginator.num_pages }}"{% endif %}> >> </a>
                  </li>
                {% endif %}
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block javascript %} {% endblock %}