{% extends 'layout/app.html' %} {% load static %} {% block body %}
<div class="container-fluid px-4">
  <h1 class="mt-4">Service Orders</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active">Service Orders</li>
  </ol>

  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Service Orders
        <!-- <a class="btn-sm btn btn-success" href="{% static 'sample_contact.csv' %}" download style="float: right"><span class="fa fa-download"></span> &nbsp;Download Sample CSV</a>
        <a id="selectCustomerDownloadButton" class="btn-sm btn btn-success" style="float: right; margin-right: 10px;">
          <span class="fa fa-download" ></span> 
            &nbsp;Download Select CSV
        </a> -->
    </div>
    <div class="card-body">
      <form class="form-horizontal mb-3" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="d-flex align-items-sm-start align-items-stretch  flex-column flex-sm-row gap-2">
              <div class="flex-grow-1">
                  <!-- <div class="input-group">
                      <input type="file" class="form-control custom-file-input file" name="csv_file">
                  </div> -->
              </div>
              <div class="d-flex">
                  <!-- <button class="btn btn-primary btn-block" type="submit">Submit</button> -->
                  <a class="btn btn-success ms-2" href="add/"><span class="fa fa-add"></span> Add</a>
              </div>
          </div>
      </form>
      <hr>
      <!-- <div class="d-flex mb-3">
          <form class="form-inline ms-auto w-100">
            <div class="input-group">
                <input class="form-control" type="text" name="search" value="{{ search }}" placeholder="Search for customer..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-secondary" type="submit"><i class="fas fa-search"></i></button>
            </div>
          </form>
      </div> -->
      {% for message in messages %}
      <div
        class="alert alert-{{ message.tags }} alert-dismissible"
        role="alert"
      >
        {{ message }}
      </div>
      {% endfor %}
      <div class="table-container">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th scope="col">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="fullCheckAction" onclick="fullCheck()"/>
                </div>
              </th>
              <th>Username</th>
              <th>Email</th>
              <th>Number</th>
              <th>Texting</th>
              <th>Request Port Date</th>
              <th>E911 Number</th>
              <th>Created At</th>
              <th>Updated At</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for item in service_orders %}
            <tr class="table-row" id="tr_{{item.id}}">
              <th scope="row">
                <div class="form-check">
                  <input class="form-check-input item" type="checkbox" value="" id="select_{{item.id}}"/>
                </div>
              </th>
              <td>{{ item.username }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.number }}</td>
              <td>{{ item.texting }}</td>
              <td>{{ item.requested_port_date }}</td>
              <td>{{ item.e911_number }}</td>
              <td>{{ item.created_at }}</td>
              <td>{{ item.updated_at }}</td>
              <td style="display: flex; justify-content: space-between;">
                <a class="btn btn-sm btn-warning" href="edit/{{ item.id }}"><span class="fa fa-edit"></span> Edit</a>
                <a class="btn btn-sm btn-danger" href="delete/{{ item.id }}"><span class="fa fa-trash"></span> Delete</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block javascript %} {% endblock %}