{% extends 'layout/app.html' %}

{% load static %}
{% block stylesheet %}
    <style>
        .bd-example {
            /* padding: 1.5rem; */
            margin-right: 0;
            margin-left: 0;
            border-width: 1px;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
        }
        .bd-example {
            position: relative;
            padding: 1rem;
            margin: 1rem -.75rem 0;
            border: solid #dee2e6;
            border-width: 1px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Service Orders</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">Edit Service Order</li>
        </ol>
        <div class="bd-example">
            <form action="/service_order/edit/{{ service_order.id }}" method="POST">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0 ">
                            <input class="form-control" id="input_username" type="text" name="username" placeholder="Enter username" value="{{ service_order.username }}" required/>
                            <label for="input_username">Enter username</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input class="form-control" id="input_email" type="email" name="email" value="{{ service_order.email }}" placeholder="Enter email" required/>
                            <label for="input_email">Enter email</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating">
                            <input class="form-control" id="input_number" type="number" name="number" value="{{ service_order.number }}" placeholder="Enter number"/>
                            <label for="input_number">Enter number</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="requested_port_date" type="date"  placeholder="Select the requested port date" value="{{ service_order.requested_port_date }}" id="input_requested_port_date" required>
                            <label for="input_requested_port_date">Select the requested port date</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                      <div class="form-floating">
                          <input class="form-control" id="input_e911_number" type="number" name="e911_number" placeholder="Enter e911 number"/>
                          <label for="input_e911_number">Enter E911 number</label>
                      </div>
                    </div>
                    <div class="col">
                      <div class="form-floating">
                          <input class="form-control" id="input_e911_address" type="text" name="e911_address" placeholder="Enter e911 address"/>
                          <label for="input_e911_address">Enter E911 address</label>
                      </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating">
                            <input class="form-control" name="texting" type="text" placeholder="Enter billing city" id="input_texting">
                            <label for="input_texting">Enter the description</label>
                        </div>
                    </div>
                </div>
                <div id="service_order_detail_show" style="display: none;">
                    <div class="row mb-3">
                        <div class="col">
                            <select name="customer" class="form-select p-3" aria-label="Choose Customer">
                                <option value="" selected>Select customer</option>
                                {% for customer in customers %}
                                <option value="{{ customer.id }}" {% if service_order.customer == customer.id %}selected{% endif %}>{{ customer.full_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control" name="reseller" type="text" value="{{ service_order.reseller }}" placeholder="Enter your reseller" id="reseller">
                                <label for="service_order">Enter your reseller</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <select name="status" class="form-select p-3" aria-label="Choose status">
                                <option value="" selected>Select status</option>
                                {% for item in status %}
                                <option value="{{ item.id }}" {% if service_order.status == item.id %}selected{% endif %}>{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <select name="voice_carrier" class="form-select p-3" aria-label="Choose voice carrier">
                                <option value="" selected>Select voice carrier</option>
                                {% for item in voice_carrier %}
                                <option value="{{ item.id }}" {% if service_order.voice_carrier == item.id %}selected{% endif %}>{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <select name="sms_enabled" class="form-select p-3" aria-label="Choose sms enable">
                                <option value="" selected>Select SMS activation</option>
                                <option value="Yes" {% if service_order.sms_enabled == "Yes" %}selected{% endif %}>Yes</option>
                                <option value="No" {% if service_order.sms_enabled == "No" %}selected{% endif %}>No</option>
                            </select>
                        </div>
                        <div class="col">
                            <select name="sms_carrier" class="form-select p-3" aria-label="Choose sms carrier">
                                <option value="" selected>Select SMS carrier</option>
                                {% for item in sms_carrier %}
                                <option value="{{ item.id }}" {% if service_order.sms_carrier == item.id %}selected{% endif %}>{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control" name="onboard_date" type="date" value="{{ service_order.onboard_date }}" placeholder="onboard_date" id="onboard_date">
                                <label for="onboard_date">Enter onboard date</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <select name="sms_type" class="form-select p-3" aria-label="Choose sms type">
                                <option value="" selected>Select SMS type</option>
                                {% for item in sms_type %}
                                <option value="{{ item.id }}" {% if service_order.sms_type == item.id %}selected{% endif %}>{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input class="form-control" name="sms_campaign" type="text" value="{{ service_order.sms_campaign }}" placeholder="sms_campaign" id="sms_campaign">
                                <label for="sms_campaign">Enter SMS campaign</label>
                            </div>
                        </div>
                        <div class="col">
                            <select name="term_location" class="form-select p-3" aria-label="Choose term location">
                                <option value="" selected>Select term location</option>
                                {% for item in term_location %}
                                <option value="{{ item.id }}" {% if service_order.term_location == item.id %}selected{% endif %}>{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control" name="user_first_name" type="text" value="{{ service_order.user_first_name }}" placeholder="user_first_name" id="user_first_name">
                                <label for="user_first_name">Enter first name</label>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control" name="user_last_name" type="text" value="{{ service_order.user_last_name }}" placeholder="user_last_name" id="user_last_name">
                                <label for="user_last_name">Enter last name</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <select name="e911_enabled_billed" class="form-select p-3" aria-label="Choose e911 enable and billed">
                                <option value="" selected>Select E911 enable and billed</option>
                                <option value="Yes" {% if service_order.e911_enabled_billed == "Yes" %}selected{% endif %}>Yes</option>
                                <option value="No" {% if service_order.e911_enabled_billed == "No" %}selected{% endif %}>No</option>
                            </select>
                        </div>
                        <div class="col">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control" name="extension" type="number" value="{{ service_order.extension }}" placeholder="extension" id="extension">
                                <label for="extension">Enter extension</label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <select name="service_1" class="form-select p-3" aria-label="Choose service 1">
                                <option value="" selected>Select service 1</option>
                                {% for item in services %}
                                <option value="{{ item.id }}" {% if service_order.service_1 == item.id %}selected{% endif %}>{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <select name="service_2" class="form-select p-3" aria-label="Choose service 2">
                                <option value="" selected>Select service 2</option>
                                {% for item in services %}
                                <option value="{{ item.id }}" {% if service_order.service_2 == item.id %}selected{% endif %}>{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <select name="service_3" class="form-select p-3" aria-label="Choose service 3">
                                <option value="" selected>Select service 3</option>
                                {% for item in services %}
                                <option value="{{ item.id }}" {% if service_order.service_3 == item.id %}selected{% endif %}>{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col">
                            <select name="service_4" class="form-select p-3" aria-label="Choose service 4">
                                <option value="" selected>Select service 4</option>
                                {% for item in services %}
                                <option value="{{ item.id }}" {% if service_order.service_4 == item.id %}selected{% endif %}>{{ item.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div id="service_order_detail_less" class="d-flex align-items-center text-center">
                    <i class="fas fa-fw fa-chevron-left"></i>
                    <hr class="w-50">
                    <span id="show_hide_text" style="min-width: 140px; cursor: pointer;">Show more detail</span>
                    <hr class="w-50">
                    <i class="fas fa-fw fa-chevron-right"></i>
                </div>
                <div class="mt-4 mb-0">
                    <div class="d-grid"><button class="btn btn-primary btn-block" type="submit">Submit</button></div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascript %}
{% endblock %}