{% extends 'layout/app.html' %} {% load static %} {% block body %}
<div class="container-fluid px-4">
  <h1 class="mt-4">Service Orders</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active">Service Orders</li>
  </ol>

  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Service Orders
    </div>
    <div class="card-body">
      <form class="form-horizontal mb-3" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="d-flex align-items-sm-start align-items-stretch  flex-column flex-sm-row gap-2">
            <div class="flex-grow-1">
            </div>
            <div class="d-flex">
              <a class="btn btn-success ms-2" href="add_step_1/"><span class="fa fa-add"></span> Add</a>
            </div>
          </div>
      </form>
      <hr>
      <div class="d-flex mb-3">
        <form class="form-inline ms-auto w-100">
          <div class="input-group">
              <input class="form-control" type="text" name="search" value="{{ search }}" placeholder="Search for service order..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
              <button class="btn btn-secondary" type="submit"><i class="fas fa-search"></i></button>
          </div>
        </form>
      </div>
      {% for message in messages %}
      <div
        class="alert alert-{{ message.tags }} alert-dismissible"
        role="alert"
      >
        {{ message }}
      </div>
      {% endfor %}
      <div class="table-container">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Action</th>
              <th>Service Order Name</th>
              <th>Created Date</th>
              <th>Customer Name</th>
              <th>Email</th>
              <th>Request Port Date</th>
              <th>Updated By</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            {% for item in service_orders %}
            <tr class="table-row" id="tr_{{item.id}}">
              <td style="display: flex; justify-content: space-between;">
                {% if item.status != "Deleted" %}
                <a class="btn btn-sm btn-warning" href="edit/{{ item.id }}"><span class="fa fa-edit"></span> Edit</a>
                  {% if item.status != "Submitted" %}
                    <a class="btn btn-sm btn-info" href="submit/{{ item.id }}"><span class="fa fa-paper-plane"></span> Submit</a>
                  {% endif %}
                <a class="btn btn-sm btn-danger" href="delete/{{ item.id }}"><span class="fa fa-trash"></span> Delete</a>
                {% endif %}
              </td>
              <td>{{ item.username }}</td>
              <td>{{ item.created_at }}</td>
              <td>{{ item.customer.full_name }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.requested_port_date }}</td>
              <td>{{ item.updated_by }}</td>
              <td>{{ item.status }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="d-flex flex-row justify-content-end gap-3">
          <form method="get">
            <input type="hidden" name="search" value="{{ request.GET.search }}">
            <select class="form-select form-select" name="size" aria-label=".form-select-sm example" onchange="this.form.submit()">
              <option value="10" {% if request.GET.size == "10" %}selected{% endif %}>10</option>
              <option value="25" {% if request.GET.size == "25" %}selected{% endif %}>25</option>
              <option value="50" {% if request.GET.size == "50" %}selected{% endif %}>50</option>
            </select>
          </form>
          <nav aria-label="...">
            <ul class="pagination">
              {% if not service_orders.has_previous %}
                <li class="page-item disabled"><a class="page-link" href="#"> << </a></li>
                <li class="page-item disabled"><a class="page-link" href="#"> < </a></li>
              {% else %}
                {% if not request.GET.search %}
                  <li class="page-item">
                    <a class="page-link" {% if request.GET.size %}href="?size={{ request.GET.size }}&page=1"{% else %}href="?page=1"{% endif %}> << </a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" {% if request.GET.size %}href="?size={{ request.GET.size }}&page={{ service_orders.previous_page_number }}"{% else %}href="?page={{ service_orders.previous_page_number }}"{% endif %}> < </a>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a class="page-link" {% if request.GET.size %}href="?search={{request.GET.search}}&size={{ request.GET.size }}&page=1"{% else %}href="?search={{request.GET.search}}&page=1"{% endif %}> << </a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" {% if request.GET.size %}href="?search={{request.GET.search}}size={{ request.GET.size }}&page={{ service_orders.previous_page_number }}"{% else %}href="?search={{request.GET.search}}&page={{ service_orders.previous_page_number }}"{% endif %}> < </a>
                  </li>
                {% endif %}
              {% endif %}
              <li class="page-item">
                <span class="page-link">{{ service_orders.number }} / {{ service_orders.paginator.num_pages }}</span>
              </li>
              {% if not service_orders.has_next %}
                <li class="page-item disabled"><a class="page-link" href="#"> > </a></li>
                <li class="page-item disabled"><a class="page-link" href="#"> >> </a></li>
              {% else %}
                {% if request.GET.search %}
                <a class="page-link" {% if request.GET.size %}href="?search={{request.GET.search}}&size={{ request.GET.size }}&page={{ service_orders.next_page_number }}"{% else %}href="?search={{request.GET.search}}&page={{ service_orders.next_page_number }}"{% endif %}> > </a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" {% if request.GET.size %}href="?search={{request.GET.search}}&size={{ request.GET.size }}&page={{ service_orders.paginator.num_pages }}"{% else %}href="?search={{request.GET.search}}&page={{ service_orders.paginator.num_pages }}"{% endif %}> >> </a>
                  </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" {% if request.GET.size %}href="?size={{ request.GET.size }}&page={{ service_orders.next_page_number }}"{% else %}href="?page={{ service_orders.next_page_number }}"{% endif %}> > </a>
                  </li>
                  <li class="page-item">
                    <a class="page-link" {% if request.GET.size %}href="?size={{ request.GET.size }}&page={{ service_orders.paginator.num_pages }}"{% else %}href="?page={{ service_orders.paginator.num_pages }}"{% endif %}> >> </a>
                  </li>
                {% endif %}
              {% endif %}
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block javascript %} {% endblock %}