{% extends 'layout/app.html' %}
{% load static %}
{% block stylesheet %}
  <style>
    /* .error-input::placeholder { */
      /* Firefox, Chrome, Opera */ 
      /* color: #DC3545;
      opacity: 0.7;
    } 
    .error-input:-ms-input-placeholder {  */
      /* Internet Explorer 10-11 */ 
      /* color: #DC3545; 
      opacity: 0.7;
    } 
    .error-input::-ms-input-placeholder {  */
      /* Microsoft Edge */ 
      /* color: #DC3545; 
      opacity: 0.7;
    }  */
  </style>
{% endblock %}
{% block body %}
<div class="container-fluid px-4">
  <h1 class="mt-4">Service Order</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active">Edit Service Order</li>
  </ol>
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Service Order ({{ service_order_name }})
      </div>
    <div class="card-body">
      <hr>
      {% for message in messages %}
      <div
        class="alert alert-{{ message.tags }} alert-dismissible"
        role="alert"
      >
        {{ message }}
      </div>
      {% endfor %}
      <div class="table-container">
        <div class="row mb-3">
          <div class="col-2">
            <div class="form-floating mb-3 mb-md-0 ">
              <input class="form-control" id="input_username" type="text" name="username" placeholder="Enter username" value="{{service_order_name}}" required/>
              <label for="input_username">Enter name</label>
            </div>
          </div>
          <div class="col-2">
            <select name="customer" id="customer" class="form-select p-3" onchange="change_select('customer', '')">
              <option value="" {% if customer == '' %}selected{% endif %}></option>
              {% for item in customers %}
                <option value="{{ item.id }}" class="text-dark" {% if customer == item.id %}selected{% endif %}>{{ item.full_name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-2">
            <select name="term_location" id="term_location" class="form-select p-3">
              <option value="" {% if term_location == '' %}selected{% endif %}>Select term location</option>
              {% for item in term_locations %}
                <option value="{{ item.id }}" {% if term_location == item.id %} selected {% endif %}>{{ item.name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-6">
            <div class="form-floating mb-3 mb-md-0 ">
              <input class="form-control" id="input_texting" type="text" name="texting" placeholder="Enter username" value="{{texting}}" required/>
              <label for="input_texting">Enter the description</label>
            </div>
          </div>
        </div>
        <hr>
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>Number</th>
              <th>Reseller</th>
              <th>Email</th>
              <th>Requested Port Date</th>
              <th>E911 Number</th>
              <th>E911 Address</th>
              <th>Service Status</th>
              <th>Voice Carrier</th>
              <th>SMS Carrier</th>
              <th>SMS Type</th>
              <th>SMS Enabled</th>
              <th>SMS Campaign</th>
              <th>User First Name</th>
              <th>User Last Name</th>
              <th>Extension</th>
              <th>Onboard Date</th>
              <th>E911 Enabled_Billed</th>
              <th>Service 1</th>
              <th>Service 2</th>
              <th>Service 3</th>
              <th>Service 4</th>
            </tr>
          </thead>
          <tbody>
            {% for number in numbers %}
            <tr>
              <td>
                <input id="number_{{ number }}" name="number" value="{{ number }}" class="form-control" style="min-width: 150px;" oninput="change_num('number_', '{{ number }}')">
              </td>
              <td>
                <input type="text" class="form-control" id="reseller_{{ number }}" name="reseller" style="min-width: 150px;" value="{{ reseller }}">
              </td>
              <td>
                <input type="text" id="email_{{ number }}" name="email" class="form-control" style="min-width: 180px;" value="{{ email }}" oninput="change_email('{{ number }}')">
              </td>
              <td>
                <input type="date" id="requested_port_date_{{ number }}" name="requested_port_date" class="form-control" style="min-width: 130px;" value="{{ requested_port_date }}">
              </td>
              <td>
                <input type="text" id="e911_number_{{ number }}" name="e911_number" class="form-control" style="min-width: 150px;" value="{{ e911_number }}" oninput="change_num('e911_number_', '{{ number }}')">
              </td>
              <td>
                <input type="text" class="form-control" id="e911_address_{{ number }}" name="e911_address" style="min-width: 200px;" value="{{ e911_address }}">
              </td>
              <td>
                <select name="service_status" id="service_status_{{ number }}" class="form-select" style="min-width: 130px;">
                  <option value="" {% if service_status == '' %} selected {% endif %}></option>
                  {% for item in status %}
                    <option value="{{ item.id }}" {% if service_status == item.id %}selected{% endif %}>{{ item.name }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <select name="voice_carrier" id="voice_carrier_{{ number }}" class="form-select" style="min-width: 130px;">
                  <option value="" {% if voice_carrier == '' %} selected {% endif %}></option>
                  {% for item in voice_carriers %}
                    <option value="{{ item.id }}" {% if voice_carrier == item.id %}selected{% endif %}>{{ item.name }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <select name="sms_carrier" id="sms_carrier_{{ number }}" class="form-select" style="min-width: 130px;">
                  <option value="" {% if sms_carrier == '' %} selected {% endif %}></option>
                  {% for item in sms_carriers %}
                    <option value="{{ item.id }}" {% if sms_carrier == item.id %}selected{% endif %}>{{ item.name }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <select name="sms_type" id="sms_type_{{ number }}" class="form-select" style="min-width: 150px;">
                  <option value="" {% if sms_type == '' %} selected {% endif %}></option>
                  {% for item in sms_types %}
                    <option value="{{ item.id }}" {% if sms_type == item.id %}selected{% endif %}>{{ item.name }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <select name="sms_enabled" id="sms_enabled_{{ number }}" class="form-select" style="min-width: 80px;">
                  <option value="" {% if sms_enabled == '' %} selected {% endif %}></option> 
                  <option value="Yes" {% if sms_enabled == "Yes" %}selected{% endif %}>Yes</option>
                  <option value="No" {% if sms_enabled == "No" %}selected{% endif %}>No</option>
                </select>
              </td>
              <td>
                <input type="text" class="form-control" id="sms_campaign_{{ number }}" name="sms_campaign" style="min-width: 120px;" value="{{ sms_campaign }}">
              </td>
              <td>
                <input type="text" class="form-control" id="user_first_name_{{ number }}" name="user_first_name" style="min-width: 150px;" value="{{ user_first_name }}">
              </td>
              <td>
                <input type="text" class="form-control" id="user_last_name_{{ number }}" name="user_last_name" style="min-width: 150px;" value="{{ user_last_name }}">
              </td>
              <td>
                <input type="text" id="extension_{{ number }}" name="extension" value="{{ extension }}" class="form-control" style="min-width: 150px;" oninput="change_num('extension_', '{{ did.id }}')">
              </td>
              <td>
                <input type="date" id="onboard_date_{{ number }}" name="onboard_date" class="form-control" style="min-width: 130px;" value="{{ onboard_date }}">
              </td>
              <td>
                <select name="e911_enabled_billed" id="e911_enabled_billed_{{ did.id }}" class="form-select" style="min-width: 80px;">
                  <option value="" {% if e911_enabled_billed == '' %} selected {% endif %}>{{ e911_enabled_billed }}</option>
                  <option value="Yes" {% if e911_enabled_billed == "Yes" %}selected{% endif %}>Yes</option>
                  <option value="No" {% if e911_enabled_billed == "No" %}selected{% endif %}>No</option>
                </select>
              </td>
              <td>
                <select name="service_1" id="service_1_{{ number }}" class="form-select" style="min-width: 180px;">
                  <option value="" {% if service_1 == '' %} selected {% endif %}>{{ service_1 }}</option> 
                  {% for item in services %}
                    <option value="{{ item.id }}" {% if service_1 == item.id %}selected{% endif %}>{{ item.name }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <select name="service_2" id="service_2_{{ number }}" class="form-select" style="min-width: 180px;">
                  <option value="" {% if service_2 == '' %} selected {% endif %}>{{ service_2 }}</option> 
                  {% for item in services %}
                    <option value="{{ item.id }}" {% if service_2 == item.id %}selected{% endif %}>{{ item.name }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <select name="service_3" id="service_3_{{ number }}" class="form-select" style="min-width: 180px;">
                  <option value="" {% if service_3 == '' %} selected {% endif %}>{{ service_3 }}</option> 
                  {% for item in services %}
                    <option value="{{ item.id }}" {% if service_3 == item.id %}selected{% endif %}>{{ item.name }}</option>
                  {% endfor %}
                </select>
              </td>
              <td>
                <select name="service_4" id="service_4_{{ number }}" class="form-select" style="min-width: 180px;">
                  <option value="" {% if service_4 == '' %} selected {% endif %}>{{ service_4 }}</option> 
                  {% for item in services %}
                    <option value="{{ item.id }}" {% if service_4 == item.id %}selected{% endif %}>{{ item.name }}</option>
                  {% endfor %}
                </select>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="d-flex flex-row justify-content-end mt-3 gap-3">
        <button id="service_order_create_2" type="button" class="btn btn-primary" onclick="service_order_create()">Create Service Order</button>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block javascript %} {% endblock %}