{% extends 'layout/app.html' %} {% load static %} {% block body %}
<div class="container-fluid px-4">
  <h1 class="mt-4">SMS Type & Term Location</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active">SMS Type & Term Location</li>
  </ol>

  <div class="card mb-4">
      <div class="card-header">
        <div class="d-flex flex-row justify-content-around">
          <div>
            <i class="fas fa-table me-1"></i>
            SMS Type
          </div>
          <div>
            <i class="fas fa-table me-1"></i>
            Term Location
          </div>
      </div>
    </div>
    <div class="card-body">
      {% for message in messages %}
      <div
        class="alert alert-{{ message.tags }} alert-dismissible"
        role="alert"
      >
        {{ message }}
      </div>
      {% endfor %}
      <div class="d-flex flex-row gap-3">
        <div class="w-50">
          <div class="d-flex align-items-sm-start align-items-stretch flex-column flex-sm-row mb-3">
            <div class="w-100 d-flex justify-content-between">
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#create_sms_type">
                <span class="fa fa-add"></span> Add
              </button>
              <a class="btn btn-info ms-2" href="sync_sms_type_method/"><span class="fa fa-sync"></span> Sync With Method</a>
            </div>
          </div>
          <div class="table-container">
            <table
              class="table table-bordered"
              id="dataTable"
              width="100%"
              cellspacing="0"
            >
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for item in sms_type %}
                <tr class="table-row">
                  <td>{{ item.name }}</td>
                  <td style="display: flex; justify-content: space-between;">
                    {% if item.is_active %}
                      <button type="button" class="btn btn-sm btn-warning" onclick="editSMSType('{{item.id}}')" data-bs-toggle="modal" data-bs-target="#edit_sms_type"><span class="fa fa-edit"></span> Edit</button>
                      <a class="btn btn-sm btn-danger" href="/assist_did/sms_type_delete/{{ item.id }}"><span class="fa fa-trash"></span> Delete</a>
                    {% endif %}
                  </td>
                </tr>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="w-50">
          <div class="d-flex align-items-sm-start align-items-stretch flex-column flex-sm-row mb-3">
            <div class="w-100 d-flex justify-content-between">
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#create_term_location">
                <span class="fa fa-add"></span> Add
              </button>
              <a class="btn btn-info ms-2" href="sync_term_location_method/"><span class="fa fa-sync"></span> Sync With Method</a>
            </div>
          </div>
          <div class="table-container">
            <table
              class="table table-bordered"
              id="dataTable"
              width="100%"
              cellspacing="0"
            >
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for item in term_location %}
                <tr class="table-row" id="tr_{{item.id}}">
                  <td>{{ item.name }}</td>
                  <td style="display: flex; justify-content: space-between;">
                    <button type="button" class="btn btn-sm btn-warning" onclick="editTermLocation('{{item.id}}')" data-bs-toggle="modal" data-bs-target="#edit_term_location"><span class="fa fa-edit"></span> Edit</button>
                    <a class="btn btn-sm btn-danger" href="/assist_did/term_location_delete/{{ item.id }}"><span class="fa fa-trash"></span> Delete</a>
                  </td>
                </tr>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <!-- Add SMS Type Modal -->
  <div class="modal fade" id="create_sms_type" tabindex="-1" aria-labelledby="add_sms_type_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="add_sms_type_modal_label">Add SMS Type</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/assist_did/sms_type_add/" method="POST">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="d-flex flex-column gap-3">
                    <div class="form-floating mb-md-0">
                        <input class="form-control" id="name" type="text" name="name" placeholder="Enter sms type name" required/>
                        <label for="name">Enter SMS type name</label>
                    </div>
                </div>
            </div>
            <div class="d-flex gap-3 justify-content-end">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary btn-block" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit SMS Type Modal -->
  <div class="modal fade" id="edit_sms_type" tabindex="-1" aria-labelledby="edit_sms_type_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="edit_sms_type_modal_label">Edit SMS Type</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="edit_sms_type_form" action="/assist_did/sms_type_update/" method="POST">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="d-flex flex-column gap-3">
                    <div class="form-floating mb-md-0">
                        <input class="form-control" id="edit_sms_type_name" type="text" name="name" placeholder="Enter sms type name" required/>
                        <label for="name">Enter SMS type name</label>
                    </div>
                </div>
            </div>
            <div class="d-flex gap-3 justify-content-end">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="edit_sms_type_button" class="btn btn-primary btn-block" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

    <!-- Add Term Location Modal -->
    <div class="modal fade" id="create_term_location" tabindex="-1" aria-labelledby="add_term_location_modal_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="add_term_location_modal_label">Add Term Location</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/assist_did/term_location_add/" method="POST">
              {% csrf_token %}
              <div class="row mb-3">
                  <div class="d-flex flex-column gap-3">
                      <div class="form-floating mb-md-0">
                          <input class="form-control" id="name" type="text" name="name" placeholder="Enter term location name" required/>
                          <label for="name">Enter term location name</label>
                      </div>
                  </div>
              </div>
              <div class="d-flex gap-3 justify-content-end">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button class="btn btn-primary btn-block" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  
    <!-- Edit Term Location Modal -->
    <div class="modal fade" id="edit_term_location" tabindex="-1" aria-labelledby="edit_term_location_modal_label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="edit_term_location_modal_label">Edit Term Location</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="edit_term_location_form" action="/assist_did/term_location_update/" method="POST">
              {% csrf_token %}
              <div class="row mb-3">
                  <div class="d-flex flex-column gap-3">
                      <div class="form-floating mb-md-0">
                          <input class="form-control" id="edit_term_location_name" type="text" name="name" placeholder="Enter term location name" required/>
                          <label for="name">Enter term location name</label>
                      </div>
                  </div>
              </div>
              <div class="d-flex gap-3 justify-content-end">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button id="edit_term_location_button" class="btn btn-primary btn-block" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %} {% block javascript %} {% endblock %}