{% extends 'layout/app.html' %}

{% load static %}
{% block stylesheet %}
    <style>
        .bd-example {
            padding: 1.5rem;
            margin-right: 0;
            margin-left: 0;
            border-width: 1px;
            border-top-left-radius: .25rem;
            border-top-right-radius: .25rem;
        }
        .bd-example {
            position: relative;
            padding: 1rem;
            margin: 1rem -.75rem 0;
            border: solid #dee2e6;
            border-width: 1px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container-fluid px-4">
        <h1 class="mt-4">Users</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
            <li class="breadcrumb-item active">Create User</li>
        </ol>
        <div class="bd-example">
            <form action="/user/create/" method="POST">
                {% csrf_token %}
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" id="inputFirstName" type="text" name="first_name" placeholder="Enter your first name" required/>
                            <label for="inputFirstName">Enter First name</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input class="form-control" id="inputLastName" type="text" name="last_name" placeholder="Enter your last name" required/>
                            <label for="inputLastName">Enter Last name</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="username" type="text"  placeholder="username" id="inputusername" required>
                            <label for="inputUsername">Enter Username</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input class="form-control" name="email" type="email" placeholder="Email" id="inputEmail" required>
                            <label for="inputEmail">Enter Email</label>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <div class="form-floating mb-3 mb-md-0">
                            <input class="form-control" name="password1" type="password"  placeholder="password1" id="inputpassword1" required>
                            <label for="inputpassword1">Enter Password1</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-floating">
                            <input class="form-control" name="password2" type="password" placeholder="password2" id="inputpassword2" required>
                            <label for="inputpassword2">Enter password2</label>
                        </div>
                    </div>
                </div>
                <div class="mt-4 mb-0">
                    <div class="d-grid"><button class="btn btn-primary btn-block" type="submit">Submit</button></div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascript %}
{% endblock %}