{% extends 'layout/login.html' %}

{% load static %}
{% block body %}
    <div id="layoutAuthentication">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Verify Account</h3></div>
                                <div class="card-body">
                                    {% for message in messages %}
                                    <div
                                        class="alert alert-{{ message.tags }} alert-dismissible"
                                        role="alert"
                                    >
                                        {{ message }}
                                    </div>
                                    {% endfor %}
                                    <form method="POST" action="/user/verify/" method="post">
                                        {% csrf_token %}
                                        <div class="row mb-3">
                                            <div class="col">
                                                <div class="form-floating">
                                                    <input class="form-control" id="input_username" type="text" name="username" placeholder="Enter your company name" required/>
                                                    <label for="input_username">Enter your administrator's username</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <a class="small" href="/login">Go to login</a>
                                            <button type="submit" class="btn btn-primary">Verify</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}
{% block javascript %}
{% endblock %}