{% extends 'layout/app.html' %} {% load static %} {% block body %}
<div class="container-fluid px-4">
  <h1 class="mt-4">Voice/SMS Carrier & Customer Type</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
    <li class="breadcrumb-item active">Voice/SMS Carrier & Customer Type</li>
  </ol>

  <div class="card mb-4">
      <div class="card-header">
        <div class="d-flex flex-row justify-content-around">
          <div>
            <i class="fas fa-table me-1"></i>
            Voice/SMS Carrier
          </div>
          <div>
            <i class="fas fa-table me-1"></i>
            Customer Type
          </div>
      </div>
    </div>
    <div class="card-body">
      {% for message in messages %}
      <div
        class="alert alert-{{ message.tags }} alert-dismissible"
        role="alert"
      >
        {{ message }}
      </div>
      {% endfor %}
      <div class="d-flex flex-row gap-3">
        <div class="w-100">
          <div class="d-flex align-items-sm-start align-items-stretch flex-column flex-sm-row mb-3">
            <div class="w-100 d-flex justify-content-between">
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#create_voice_carrier">
                <span class="fa fa-add"></span> Add
              </button>
              <div>
                <a class="btn btn-info ms-2" href="sync_voice_carrier_to_method/"><span class="fa fa-cloud-arrow-up"></span> Sync to Method</a>
                <a class="btn btn-info ms-2" href="sync_voice_carrier_method/"><span class="fa fa-cloud-arrow-down"></span> Sync from Method</a>
              </div>
            </div>
          </div>
          <div class="table-container">
            <table
              class="table table-bordered"
              id="dataTable"
              width="100%"
              cellspacing="0"
            >
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for item in voice_carrier %}
                <tr class="table-row">
                  <td>{{ item.name }}</td>
                  <td style="display: flex; justify-content: space-between;">
                    {% if item.is_active %}
                      <button type="button" class="btn btn-sm btn-warning" onclick="editVoiceCarrier('{{item.id}}')" data-bs-toggle="modal" data-bs-target="#edit_voice_carrier"><span class="fa fa-edit"></span> Edit</button>
                      <a class="btn btn-sm btn-danger" href="/assist_did/voice_carrier_delete/{{ item.id }}"><span class="fa fa-trash"></span> Delete</a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <div class="w-100">
          <div class="d-flex align-items-sm-start align-items-stretch flex-column flex-sm-row mb-3">
            <div class="w-100 d-flex justify-content-between">
              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#create_customer_type">
                <span class="fa fa-add"></span> Add
              </button>
              <div>
                <a class="btn btn-info ms-2" href="sync_customer_type_to_method/"><span class="fa fa-cloud-arrow-up"></span> Sync to Method</a>
                <a class="btn btn-info ms-2" href="sync_customer_type_method/"><span class="fa fa-cloud-arrow-down"></span> Sync from Method</a>
              </div>
          </div>
          </div>
          <div class="table-container">
            <table
              class="table table-bordered"
              id="dataTable"
              width="100%"
              cellspacing="0"
            >
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for item in customer_type %}
                <tr class="table-row" id="tr_{{item.id}}">
                  <td>{{ item.name }}</td>
                  <td style="display: flex; justify-content: space-between;">
                    {% if item.is_active %}
                      <button type="button" class="btn btn-sm btn-warning" onclick="editCustomerType('{{item.id}}')" data-bs-toggle="modal" data-bs-target="#edit_customer_type"><span class="fa fa-edit"></span> Edit</button>
                      <a class="btn btn-sm btn-danger" href="/assist_did/customer_type_delete/{{ item.id }}"><span class="fa fa-trash"></span> Delete</a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>  
  </div>

  <!-- Add Voice Carrier Modal -->
  <div class="modal fade" id="create_voice_carrier" tabindex="-1" aria-labelledby="add_voice_carrier_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="add_voice_carrier_modal_label">Add Voice Carrier</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/assist_did/voice_carrier_add/" method="POST">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="d-flex flex-column gap-3">
                    <div class="form-floating mb-md-0">
                        <input class="form-control" id="name" type="text" name="name" placeholder="Enter voice carrier name" required/>
                        <label for="name">Enter voice carrier name</label>
                    </div>
                </div>
            </div>
            <div class="d-flex gap-3 justify-content-end">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary btn-block" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Voice Carrier Modal -->
  <div class="modal fade" id="edit_voice_carrier" tabindex="-1" aria-labelledby="edit_voice_carrier_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="edit_voice_carrier_modal_label">Edit Voice Carrier</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="edit_voice_carrier_form" action="/assist_did/voice_carrier_update/" method="POST">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="d-flex flex-column gap-3">
                    <div class="form-floating mb-md-0">
                        <input class="form-control" id="edit_voice_carrier_name" type="text" name="name" placeholder="Enter voice carrier name" required/>
                        <label for="name">Enter voice carrier name</label>
                    </div>
                </div>
            </div>
            <div class="d-flex gap-3 justify-content-end">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="edit_voice_carrier_button" class="btn btn-primary btn-block" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Add SMS Carrier Modal -->
  <div class="modal fade" id="create_sms_carrier" tabindex="-1" aria-labelledby="add_sms_carrier_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="add_sms_carrier_modal_label">Add SMS Carrier</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/assist_did/sms_carrier_add/" method="POST">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="d-flex flex-column gap-3">
                    <div class="form-floating mb-md-0">
                        <input class="form-control" id="name" type="text" name="name" placeholder="Enter sms carrier name" required/>
                        <label for="name">Enter sms carrier name</label>
                    </div>
                </div>
            </div>
            <div class="d-flex gap-3 justify-content-end">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary btn-block" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit SMS carrier Modal -->
  <div class="modal fade" id="edit_sms_carrier" tabindex="-1" aria-labelledby="edit_sms_carrier_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="edit_sms_carrier_modal_label">Edit SMS carrier</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="edit_sms_carrier_form" action="/assist_did/sms_carrier_update/" method="POST">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="d-flex flex-column gap-3">
                    <div class="form-floating mb-md-0">
                        <input class="form-control" id="edit_sms_carrier_name" type="text" name="name" placeholder="Enter sms carrier name" required/>
                        <label for="name">Enter sms carrier name</label>
                    </div>
                </div>
            </div>
            <div class="d-flex gap-3 justify-content-end">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="edit_sms_carrier_button" class="btn btn-primary btn-block" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Add Customer Type Modal -->
  <div class="modal fade" id="create_customer_type" tabindex="-1" aria-labelledby="add_customer_type_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="add_customer_type_modal_label">Add Customer Type</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form action="/assist_did/customer_type_add/" method="POST">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="d-flex flex-column gap-3">
                    <div class="form-floating mb-md-0">
                        <input class="form-control" id="name" type="text" name="name" placeholder="Enter customer type name" required/>
                        <label for="name">Enter customer type name</label>
                    </div>
                </div>
            </div>
            <div class="d-flex gap-3 justify-content-end">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button class="btn btn-primary btn-block" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Customer Type Modal -->
  <div class="modal fade" id="edit_customer_type" tabindex="-1" aria-labelledby="edit_customer_type_modal_label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="edit_customer_type_modal_label">Edit Customer Type</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="edit_customer_type_form" action="/assist_did/customer_type_update/" method="POST">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="d-flex flex-column gap-3">
                    <div class="form-floating mb-md-0">
                        <input class="form-control" id="edit_customer_type_name" type="text" name="name" placeholder="Enter sms carrier name" required/>
                        <label for="name">Enter customer type name</label>
                    </div>
                </div>
            </div>
            <div class="d-flex gap-3 justify-content-end">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="edit_customer_type_button" class="btn btn-primary btn-block" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block javascript %} {% endblock %}